doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Untitled

    body
        block content
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")