div.container
    h1 This is main!
    p The state is.. {{state}}
    
    div.row
        div.col-md-8(ng-controller="biddingController")
            h2 Bids
        div.col-md-4(ng-controller="chatController")
            h2 Live Chat
            ul(ng-repeat="msg in state.messages")
                li
                    span 
                        strong {{msg.user.username}}
                    | &nbsp; {{msg.text}}
            
            input(ng-model="newMessage")
            button(ng-click="addMessage()") Add Message