div.container
    //- p The state is.. {{state}}
    
    div.row
        div.col-md-8(ng-controller="biddingController")
          div
            h2 Start a new auction!
            
            form(ng-submit="startAuction()")
              input(placeholder="Item Name" ng-model="startAuctionForm.name")
              input(placeholder="Image (URL)" ng-model="startAuctionForm.imageUrl")
              input(placeholder="Duration of auction (minutes)" ng-model="startAuctionForm.auctionDurationMins")
              input(type="submit")
            
            h2 Open auctions
            
            div#open-listings
              div(ng-repeat="listing in state.auction | filter:openListingsFilter")
                h3 {{listing.name}}
                img(src="{{listing.imageUrl}}")
                p Seller: {{listing.submitter.username}}
                p Time remaining: {{listing.timeRemaining}}
                form(ng-submit="submitBid(listing)")
                  input(placeholder="price", ng-model="listing.mybid")
                  input(type="submit", value="Bid!")
                  
                h4(ng-show="listing.bids[0]") Bids
                div
                  div(ng-repeat="bid in listing.bids") {{bid.price | currency}} {{bid.user.username}}
            
            h2 Closed auctions
            
            div#closed-listings
              div(ng-repeat="listing in state.auction | filter:closedListingsFilter")
                h3 {{listing.name}}
                img(src="{{listing.imageUrl}}")
                p Seller: {{listing.submitter.username}}
                p(ng-show="listing.bids[0]") Sold to {{listing.bids[0].user.username}} for {{listing.bids[0].price | currency}}!
                p(ng-show="!listing.bids[0]") This item received no bids!
              
                h4(ng-show="listing.bids[0]") Bids
                div
                  div(ng-repeat="bid in listing.bids") {{bid.price | currency}} {{bid.user.username}}
            
        div.col-md-4(ng-controller="chatController")
            h2 Live Chat
            
            ul(ng-repeat="msg in state.messages")
                li
                    span 
                        strong {{msg.user.username}}
                    | &nbsp; {{msg.text}}
            
            form(ng-submit="addMessage()")
              input(ng-model="newMessage")
              input(type="submit" value="Add Message")
